{% extends 'admin_dashboard/templateAdmin.html.twig' %}

{% block title %}Hello AdminDashboardController!
{% endblock %}

{% block content %}
	<h1>Articles</h1>

	<a class="btn btn-primary" href="{{ path('admin_article_new') }}">Créer un nouvel article</a>
	{# <a class="btn btn-primary" id="button" href="{{ path('admin_article_delete') }}">Supprimer un ou des articles</a> #}
	<button id="button" class="btn btn-primary" onclick="actionFormCheckBox('delete', '{{ path('admin_article_delete') }}')">Supprimer un ou des articles</button>
	<form id="formCheckbox" method="POST">
		{% for article in articles %}
			<input class="checkbox-hidden" type="checkbox" name="idCheck[]" value={{ article.id }}>
			<label class="checkbox-label"></label>
			{% include '_article_small.html.twig' with {'article': article, 'forAdmin': true} %}
		{% endfor %}
	</form>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		function actionFormCheckBox(action, url) {
			$('#formCheckbox').attr('action', url);
			$('#formCheckbox').submit();
		}
	</script>
{% endblock %}

