{% extends 'admin_dashboard/templateAdmin.html.twig' %}

{% block title %}Hello ArticleController!
{% endblock %}

{% block content %}

	<h1>Commentaires</h1>
	{# <a class="btn btn-primary active" href="{{ path('/approuve-comment/{id}') }}">Approuver<span class="sr-only">(current)</span> #}
</a>
<ul>
	{% for comment in comments %}
		<li>
			<div class="article-commentaire">
				<div class="article-commentaire_text">
					<div class="commentaire-admin_titre">
						<div>
							<a class="navbar-brand" href="{{ path('article', { 'id': comment.article.id }) }}">{{comment.article.title}}</a>

						</div>
						<div>
							{{comment.creationDate|date}}
						</div>
					</div>
					<div>
						{{comment.content}}
					</div>
				</div>
				<div class="article-commentaire_info">
					<div>
						{{comment.user.firstName}}
					</div>
					<div>
						{{comment.user.lastName}}
					</div>
					<div>
						{{comment.user.email}}
					</div>
				</div>

			</div>
		</li>
	{% endfor %}
</ul>{% endblock %}
