{% extends 'admin_dashboard/templateAdmin.html.twig' %}

{% block title %}Hello ArticleController!
{% endblock %}

{% block content %}

	<h1>Commentaires</h1>
	{# <a class="btn btn-primary active" href="{{ path('/approuve-comment/{id}') }}">Approuver<span class="sr-only">(current)</span> #}
</a>
<button id="button" class="btn btn-primary" onclick="actionFormCheckBox('delete', '{{ path('admin_comment_delete') }}')">Supprimer un ou des commentaires</button>
<button id="button" class="btn btn-primary" onclick="actionFormCheckBox('approved', '{{ path('admin_comment_privacy', {'privacy': 'approved'}) }}')">Approuver un ou des commentaires</button>
<button id="button" class="btn btn-primary" onclick="actionFormCheckBox('unapproved', '{{ path('admin_comment_privacy', {'privacy': 'unapproved'}) }}')">Non-approuver un ou des commentaires</button>
<form id="formCheckbox" method="POST">
<ul>
	{% for comment in comments %}
		<li>
			<input class="checkbox-hidden" type="checkbox" name="idCheck[]" value={{ comment.id }}>
			<label class="checkbox-label"></label>
			<div class="article-commentaire">
				<div class="article-commentaire_text">
					<div class="commentaire-admin_titre">
						<div>
							{# {{comment.article.title}} #}
							<a class="navbar-brand" href="{{ path('article', { 'id': comment.article.id }) }}">{{comment.article.title}}</a>
						</div>
						<div>
							{{comment.creationDate|date}}
						</div>
					</div>
					<div>
						{{comment.content}}
					</div>
				</div>
				<div class="article-commentaire_info">
					<div>
						{{comment.user.firstName}}
					</div>
					<div>
						{{comment.user.lastName}}
					</div>
					<div>
						{{comment.user.email}}
					</div>
					<div>
						{{comment.privacy}}
					</div>
				</div>
			</div>
		</li>
	{% endfor %}
</ul>
<div class="home-pagination">
	{{ knp_pagination_render(comments) }}
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		function actionFormCheckBox(action, url) {
			$('#formCheckbox').attr('action', url);
			$('#formCheckbox').submit();
		}
	</script>
{% endblock %}