{% extends 'admin_dashboard/templateAdmin.html.twig' %}

{% block title %}Hello ArticleController!
{% endblock %}

{% block content %}

	<h1>Commentaires</h1>
	{# <a class="btn btn-primary active" href="{{ path('/approuve-comment/{id}') }}">Approuver<span class="sr-only">(current)</span> #}
</a>
<ul>
	<form action="{{ path('admin_filtersCom') }}">
		<select name="filter" id="filter">
			<option value="news">Récent -> Ancien</option>
			<option value="old">Ancien -> Récent</option>
			<option value="a-z">A-Z</option>
			<option value="z-a">Z-A</option>
			<option value="authorUp">Auteur ↑</option>
			<option value="authorDown">Auteur ↓</option>
		</select>
		<button class="btn btn-primary">Filtrer</button>
	</form>
	{% for comment in comments %}
		<li>
			<div class="article-commentaire">
				<div class="article-commentaire_text">
					<div class="commentaire-admin_titre">
						<div>
							{# {{comment.article.title}} #}
							<a class="navbar-brand" href="{{ path('article', { 'id': comment.article.id }) }}">{{comment.article.title}}</a>
						</div>
						<div>
							{{comment.creationDate|date}}
						</div>
					</div>
					<div>
						{{comment.content}}
					</div>
				</div>
				<div class="article-commentaire_info">
					<div>
						{{comment.user.firstName}}
					</div>
					<div>
						{{comment.user.lastName}}
					</div>
					<div>
						{{comment.user.email}}
					</div>
					<div>
						{{comment.privacy}}
					</div>
				</div>
			</div>
		</li>
	{% endfor %}
</ul>

<div class="home-pagination">
	{{ knp_pagination_render(comments) }}
</div>{% endblock %}
