<div class="article-container card">
	<div class="article-header">
		<div>
			<div class="text-muted">
				{{article.user.firstName}}
				{{article.user.lastName}}
			</div>
			<div class="text-muted">
				{{article.creationDate | date}}
			</div>
			<div class="text-muted">
				Temps de lecture :
				{{article.readingTime}}
			</div>
			<div class="text-muted">
				{{article.category}}
			</div>
		</div>
	</div>

	<h2 class="article-subtitle">{{article.title}}</h2>

	<img src="{{ asset('img/guerre.jpg') }}" class="card-img-top" alt="...">
	<div class="card-body">
		<p class="card-text"></p>
		{{article.content|slice(0, 50) ~ '…'}}
		<a href="{{ path('article', { 'id': article.id }) }}" class="btn btn-link btn-projectTextColor">Voir plus</a>
	</p>
</div>

<div class="article-socialMed">
	<div>
		<a class="article-shareIcon" href="{{ path('add-shared', { 'id': article.id }) }}">
			{{ source('svg/share.svg')}}
		</a>
		{# <div class="article-socialMedIcons">
																															<div class="article-facebookIcon">
																																{{ source('svg/facebook.svg')}}
																															</div>
																															<div class="article-twitterIcon">
																																{{ source('svg/twitter.svg')}}
																															</div>
																															<div class="article-instagramIcon">
																																{{ source('svg/instagram.svg')}}
																															</div>
																															<div class="article-linkedinIcon">
																																{{ source('svg/linkedin.svg')}}
																															</div>
																														</div> #}
	</div>
	<div>

		<a class="article-thumbUpIcon" href="{{ path('add-bookmark', { 'id': article.id }) }}">
			{{ source('svg/thumb_up.svg')}}
		</a>

		{# <div class="article-tags">#Politique#Macron#Guerre</div> #}
	</div>
</div>

{#{% if forAdmin == true %}
																	<div class="article-admin p-3">
																		<button class="btn btn-primary">Modifier</button>
																		<button class="btn btn-danger">Supprimer</button>
																	</div>
																{% endif %}#}</div>
