<div class="article-container article-container--admin card">

	<div class="card-content">
		<div class="article-header--admin-img">
			<img src="{{ asset('img/guerre.jpg') }}" class="card-img-top" alt="...">
		</div>
		<div class="article-header--admin">
			<h2 class="article-subtitle">{{article.title}}</h2>
			<div class="">
				<span>
					Auteur :</span>
				{{article.user.firstName}}
				{{article.user.lastName}}
			</div>
			<div class="">
				<span>
					Date :</span>
				{{article.creationDate | date}}
			</div>
			<div class="">
				<span>
					Temps de lecture :</span>
				{{article.readingTime}}
			</div>
			<div>
				<span>
					Catégorie :</span>
				{{article.category}}
			</div>

			{% if sharedDate is defined %}
				<div>
					<span>
						Partagé le :</span>
					{{sharedDate | date}}
				</div>
			{% endif %}

			{% if bookmarkDate is defined %}
				<div>
					<span>
						Ajouté en favoris le :</span>
					{{bookmarkDate | date}}
				</div>
			{% endif %}
			<div>
				<a href="{{ path('article', { 'id': article.id }) }}" class="btn btn-link btn-projectTextColor">Voir plus</a>
			</div>

			{% if forAdmin is defined %}
				<div class="">
					<a href="{{ path('admin_edit_article', { 'id': article.id }) }}" class="btn btn-primary">Modifier</a>
					<a href="{{ path('admin_edit_article', { 'id': article.id }) }}" class="btn btn-danger">Supprimer</a>
				</div>
			{% endif %}
		</div>
	</div>

	{# <div class="article-socialMed">
						<div>
							<div class="article-shareIcon">
								{{ source('svg/share.svg')}}
							</div>
							<div class="article-socialMedIcons">
								<div class="article-facebookIcon">
									{{ source('svg/facebook.svg')}}
								</div>
								<div class="article-twitterIcon">
									{{ source('svg/twitter.svg')}}
								</div>
								<div class="article-instagramIcon">
									{{ source('svg/instagram.svg')}}
								</div>
								<div class="article-linkedinIcon">
									{{ source('svg/linkedin.svg')}}
								</div>
							</div>
						</div>
						<div>
							<div class="article-thumbUpIcon">
								{{ source('svg/thumb_up.svg')}}
							</div>
							
							<div class="article-tags">#Politique#Macron#Guerre</div>
						</div>
					</div> #}

	{# {% if forAdmin == true %}
						<div class="article-admin p-3">
							<button class="btn btn-primary">Modifier</button>
							<button class="btn btn-danger">Supprimer</button>
						</div>
					{% endif %} #}
</div>
