{% extends 'base.html.twig' %}

{% block title %}
    Article
{% endblock %}
{% block body %}
	<a class="btn btn-link btn-projectTextColor mb-2" href="{{ path('homepage') }}">Retour sur tous les articles</a>
    <div class="article-container card">
        <div class="article-header">
            <div>
                <div class="text-muted">
                    {{article.user.firstName}}
                    {{article.user.lastName}}
                </div>
                <div class="text-muted">
                    {{article.creationDate | date}}
                </div>
                <div class="text-muted">
                    {{article.readingTime}}
                </div>
                <div>
                    Catégorie de l'article
                </div>
            </div>
        </div>

        <h2 class="article-subtitle">{{article.title}}</h2>
        <h5 class="article-subtitle">{{article.subTitle}}</h5>

        <img src="{{ asset('img/guerre.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">{{article.content}}

            </p>
        </div>

        <div class="article-socialMed">
            <div>
                <a class="article-shareIcon" href="{{ path('add-shared', { 'id': article.id }) }}">
				    {{ source('svg/share.svg')}}
			    </a>
                <div class="article-socialMedIcons">
                    <div class="article-facebookIcon">
                        {{ source('svg/facebook.svg')}}
                    </div>
                    <div class="article-twitterIcon">
                        {{ source('svg/twitter.svg')}}
                    </div>
                    <div class="article-instagramIcon">
                        {{ source('svg/instagram.svg')}}
                    </div>
                    <div class="article-linkedinIcon">
                        {{ source('svg/linkedin.svg')}}
                    </div>
                </div>
            </div>
            <div>
                <a class="article-thumbUpIcon" href="{{ path('add-bookmark', { 'id': article.id }) }}">
				    {{ source('svg/thumb_up.svg')}}
			    </a>

                <div class="article-tags">#Politique#Macron#Guerre</div>
            </div>
        </div>

        {#{% if forAdmin == true %}
                                        <div class="article-admin p-3">
                                            <button class="btn btn-primary">Modifier</button>
                                            <button class="btn btn-danger">Supprimer</button>
                                        </div>
                                    {% endif %}#}
    </div>

    {% for comment in comments %}
		<div class="mb-1">
			{% include '_comment.html.twig' with {'comment': comment} %}
		</div>
	{% endfor %}

    <div class="home-pagination">
		{{ knp_pagination_render(comments) }}
	</div>

			{# {% include 'public/comment.html.twig' %} #}
			{% include 'public/articleRecent.html.twig' %}


{%  endblock %}
