<div>
	<tr>
		<td>Nom</td>
		<td>{{ contact.lastname }}</td>
	</tr>
	<tr>
		<td>Prénom</td>
		<td>{{ contact.firstname }}</td>
	</tr>
	<tr>
		<td>Téléphone</td>
		<td>{{ contact.phone }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>{{ contact.mail }}</td>
	</tr>
	<tr>
		<td>Message</td>
		<td>{{ contact.message }}</td>
	</tr>
</div>
